global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "ava_app"
    static_configs:
      - targets: ["app:3000"]

  - job_name: "cadvisor"
    static_configs:
      - targets: ["cadvisor:8080"]

  - job_name: "node_exporter"
    static_configs:
      - targets: ["node_exporter:9100"]
